/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* My Project */

* {
  box-sizing: border-box;
}

div.container {
  width: 90%;
  margin: auto;
  padding: 0;
}

/* Background Color */

.background_container {
  background-image: linear-gradient(
    to top left,
    rgba(99, 22, 22, 0.8),
    rgba(229, 160, 151, 0.3)
  );
}

/* Header */

header {
  /* border: 3px solid red; */
  text-align: right;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

.socials i {
  /* border: 1px springgreen solid; */
  margin: 0 5px;
  color: black;
}

header h1 {
  font-size: 6rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  margin-bottom: 1%;
  font-family: "PT Sans Narrow", sans-serif;
  letter-spacing: 0.4rem;
}

header h3 {
  text-transform: uppercase;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 2rem;
  /* border: 1px solid lime; */
  padding: 1%;
}

/*  Nav Bar */
nav {
  /* border: 3px solid purple; */
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a {
  font-size: 1.4rem;
  text-decoration: none;
  text-transform: lowercase;
  padding: 10px;
  margin: 1% 0;
  font-family: "Poiret One", cursive;
  /* font-weight: bold; */
  background-color: black;
  color: white;
  letter-spacing: 1px;
}

/* Welcome Section */
.welcome {
  /* border: 3px solid cyan; */
  text-align: center;
  font-size: 1.8rem;
  margin: 1% 0;
  padding: 1% 0;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 3.4rem;
}

/* About Section */

.personal {
  /* border: 3px solid chartreuse; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  margin-bottom: 1%;
}

.showcase {
  /* border: 3px solid fuchsia; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 60%;
  font-family: "Fira Sans Condensed", sans-serif;
}

.showcase div {
  padding: 5%;
  font-size: 1.3rem;
  /* border: 1px solid black; */
}

.showcase h5 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2%;
  font-size: 1.6rem;
}

.goals ul li {
  padding: 3% 1%;
  margin: 1% 0;
  letter-spacing: 1px;
}

.goals {
  /* border: 2px solid black; */
  background-color: rgba(189, 195, 199, 0.5);
  border-radius: 10px;
}
.bio {
  /* border: 2px solid black; */
  background-color: grey;
  border-radius: 10px;
}
.quote {
  /* border: 2px solid black; */
  background-color: rgba(189, 195, 199, 0.5);
  border-radius: 10px;
}

.bio h6 {
  padding: 2% 0;
  letter-spacing: 1px;
}

.bio h6:nth-child(3) {
  text-align: right;
}

.bio h6:nth-child(4) {
  text-align: center;
  font-size: 1.7rem;
  font-weight: bold;
}

.quote h6 {
  line-height: 4rem;
  text-align: center;
  font-size: 2rem;
  /* Want to add story book lettering */
}

.card h2 {
  font-family: "Poiret One", cursive;
  font-size: 2rem;
  /* border: 1px solid red; */
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
}

.card {
  background-color: rgba(189, 195, 199, 0.5);
  padding: 1%;
  border-radius: 30%;
  /* border: 3px solid white; */
  margin: 1%;
  box-shadow: 12px 12px 2px 1px #808080;
}

.form_control {
  margin: 2%;
  padding: 2%;
  /* border: 3px solid blue; */
}

.showcase_form input[type="text"],
.showcase_form input[type="email"] {
  border: 0;
  /* border-bottom: 1px solid black; */
  width: 100%;
  font-size: 1.5rem;
  background-color: grey;
  border-radius: 5px;
}

.showcase_form input:focus {
  outline: none;
}

::placeholder {
  color: black;
  text-transform: lowercase;
  font-family: "Poiret One", cursive;
  text-align: right;
}

.showcase_form input[type="submit"] {
  text-transform: uppercase;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.2rem;
}

.btn {
  /* border: 3px solid yellow; */
  padding: 2%;
  margin-top: 1%;
  border-radius: 5%;
  cursor: pointer;
  display: inline-block;
  position: relative;
  left: 40%;
}

/* Image */
.image {
  border: 3px solid green;
  filter: grayscale(50%);
}

.image img {
  width: 100%;
  height: auto;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 3px solid mediumvioletred;
  width: 60%;
  margin: 1% 20%;
  text-align: center;
  text-transform: uppercase;
}

/* Footer */
footer {
  background-color: #f1f1f1;
  padding: 1% 0;
}
