/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* My Project */

/* Universal */

* {
  box-sizing: border-box;
}

div.container {
  width: 100%;
  margin: auto;
  padding: 0;
}

/* Animations */

@keyframes fillWithColor {
  0% {
    filter: grayscale(100%);
  }
  10% {
    filter: grayscale(95%);
  }
  20% {
    filter: grayscale(90%);
  }
  30% {
    filter: grayscale(85%);
  }
  40% {
    filter: grayscale(80%);
  }
  50% {
    filter: grayscale(70%);
  }
  60% {
    filter: grayscale(60%);
  }
  70% {
    filter: grayscale(40%);
  }
  80% {
    filter: grayscale(20%);
  }
  90% {
    filter: grayscale(10%);
  }
  95% {
    filter: grayscale(5%);
  }
  100% {
    filter: none;
  }
}

@keyframes navExpand {
  from {
    font-size: 1.4rem;
    border-radius: 3px;
    margin: 0%;
  }
  to {
    font-size: 1.8rem;
    border-radius: 20px;
    margin: 1%;
  }
}

@keyframes navDisplay {
  from {
    font-size: 1.8rem;
    border-radius: 20px;
    margin: 1%;
  }
  to {
    font-size: 1.4rem;
    border-radius: 3px;
    margin: 0%;
  }
}

@keyframes fromRight {
  0% {
    transform: translateX(150%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes fromRightCard {
  0% {
    transform: translateX(500%);
  }

  25% {
    transform: translateX(375%);
  }

  50% {
    transform: translateX(250%);
  }

  75% {
    transform: translateX(125%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes fromLeft {
  0% {
    display: none;
    transform: translate(-700%);
  }

  75% {
    transform: translateX(-250%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 0.25;
  }

  75% {
    opacity: 0.5;
  }

  87% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInSlower {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  67% {
    opacity: 0.3;
  }

  75% {
    opacity: 0.5;
  }

  87% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

/* Background Color */

body {
  background-image: linear-gradient(
    to top left,
    rgba(99, 22, 22, 0.8),
    rgba(229, 160, 151, 0.3)
  );
}

/* Header */

header {
  /* border: 3px solid red; */
  text-align: right;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

.socials i {
  /* border: 1px springgreen solid; */
  margin: 0 5px;
  color: black;
  animation: fromLeft;
  animation-duration: 2s;
  animation-timing-function: ease-in;
}

header h1 {
  font-size: 6rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  margin-bottom: 1%;
  font-family: "PT Sans Narrow", sans-serif;
  letter-spacing: 0.4rem;
  animation: fromRight;
  animation-timing-function: ease-out;
  animation-duration: 2s;
}

header h3 {
  text-transform: uppercase;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 2rem;
  /* border: 1px solid lime; */
  padding: 1%;
  animation: fromRight;
  animation-timing-function: ease-in;
  animation-duration: 3s;
}

/*  Nav Bar */
nav {
  /* border: 3px solid purple; */
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn 4s ease-in;
}

nav a {
  font-size: 1.4rem;
  text-decoration: none;
  text-transform: lowercase;
  padding: 10px;
  margin: 1.5% 0;
  font-family: "Poiret One", cursive;
  /* font-weight: bold; */
  background-color: black;
  color: white;
  letter-spacing: 1px;
  animation: navDisplay;
  animation-duration: 500ms;
}

nav a:hover {
  animation: navExpand;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

nav a:hover {
  font-size: 1.8rem;
  border-radius: 20px;
  margin: 1%;
}

/* Welcome Section */
.welcome {
  /* border: 3px solid cyan; */
  text-align: center;
  font-size: 1.8rem;
  margin: 1% 0;
  padding: 1% 0;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 3.4rem;
  animation: fadeInSlower;
  animation-duration: 4s;
}

/* About Section */

.personal {
  /* border: 3px solid chartreuse; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  margin-bottom: 2%;
}

.showcase {
  /* border: 3px solid fuchsia; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
  width: 65%;
  font-family: "Fira Sans Condensed", sans-serif;
}

.showcase div {
  padding: 2%;
  font-size: 1.3rem;
  /* border: 1px solid black; */
}

.showcase h5 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2%;
  font-size: 1.6rem;
}

.goals ul li {
  padding: 3% 1%;
  margin: 1% 0;
  letter-spacing: 1px;
  text-align: right;
  font-weight: bold;
}

.goals {
  /* border: 2px solid black; */
  order: 3;
  animation: fadeInSlower;
  animation-duration: 12s;
  animation-timing-function: ease-in;
}

.bio {
  /* border: 2px solid black; */
  background-color: grey;
  border-radius: 10px;
  order: 2;
  padding: 0 1%;
  box-shadow: 12px 12px 2px 2px black;
  animation: fadeInSlower;
  animation-duration: 10s;
  animation-timing-function: ease-in;
}

.bio h6 {
  padding: 1% 0;
  letter-spacing: 1px;
  line-height: 1.2;
}

.bio h6:nth-child(2) {
  text-align: right;
}

.bio h6:nth-child(3) {
  text-align: center;
  font-size: 1.7rem;
  font-weight: bold;
}

.quote {
  /* border: 2px solid black; */
  order: 1;
  animation: fadeInSlower;
  animation-duration: 8s;
  animation-timing-function: ease-in;
}

.quote h6 {
  font-size: 2.5rem;
}

.quote h6 span {
  float: left;
  font-size: 12rem;
  line-height: 1;
}
/* Request Form */

.card h2 {
  font-family: "Poiret One", cursive;
  font-size: 2rem;
  /* border: 1px solid red; */
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
}

.card {
  background-color: grey;
  padding: 2%;
  border-radius: 30%;
  /* border: 3px solid white; */
  box-shadow: 12px 12px 2px 1px black;
  margin-right: 5%;
  animation: fadeInSlower;
  animation-timing-function: ease-in;
  animation-duration: 14s;
}

.form_control {
  margin: 2%;
  padding: 2%;
  /* border: 3px solid blue; */
}

.showcase_form input[type="text"],
.showcase_form input[type="email"] {
  border: 0;
  /* border-bottom: 1px solid black; */
  width: 100%;
  font-size: 1.5rem;
  border-radius: 5px;
  background-color: grey;
  font-family: "Fira Sans Condensed", sans-serif;
}

.showcase_form input:focus {
  outline: none;
}

::placeholder {
  color: black;
  text-transform: lowercase;
  font-family: "Poiret One", cursive;
  text-align: right;
}

.showcase_form input[type="submit"] {
  text-transform: uppercase;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.2rem;
}

.btn {
  /* border: 3px solid yellow; */
  padding: 2%;
  margin-top: 1%;
  border-radius: 5%;
  cursor: pointer;
  display: inline-block;
  position: relative;
  left: 40%;
  background: rgba(0, 0, 0, 0);
  box-shadow: 1px 1px 2px 2px black;
}

/* Image */

.image {
  animation: fadeInSlower 12s ease-in;
}

.image img {
  width: 100%;
  height: auto;
  animation: fillWithColor 20s;
}

/* Projects */

.projects {
  display: flex;
  width: 70%;
  justify-content: space-evenly;
  margin: 1% 15%;
  text-align: center;
  text-transform: uppercase;
  animation: fadeInSlower 14s ease-in;
}

.projects i {
  padding: 0 3%;
}

.projects > div:hover {
  cursor: pointer;
}

/* Project Content */

.projects .tab_item {
  text-align: right;
  width: 25%;
}

.project_links {
  padding: 1%;
  margin: 1%;
  animation: fadeInSlower 16s ease-in;
  /* border: 3px solid blue; */
}

.project_links a {
  text-decoration: none;
  text-transform: lowercase;
  font-size: 1.8rem;
  font-family: "Poiret One", cursive;
  font-weight: bold;
  line-height: 2.5rem;
}

.project_links a:link {
  color: black;
}

.project_links a:visited {
  color: black;
}

.project_links a:hover {
  cursor: pointer;
  color: #fff;
}

.project_links a:active {
  color: black;
}

.bottom_nav {
  animation: fadeIn 20s ease-in;
}

/* Hide Projects Content */

/* #tab_1_content,
#tab_2_content {
  display: none;
} */

/* Footer */
footer {
  padding: 1% 0;
  animation: fadeIn 20s ease-in;
  text-align: center;
}

footer h3,
h2 {
  font-family: "Fira Sans Condensed", sans-serif;
}

footer h3 {
  font-size: 1.8rem;
}

footer h2 {
  font-size: 1.3rem;
}

/* Breakpoints */
