/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* My Project */

* {
  box-sizing: border-box;
}

div.container {
  width: 90%;
  margin: auto;
  padding: 0;
}

/* Header */

header {
  border: 3px solid red;
  margin-top: 1%;
  text-align: right;
}

header h1 {
  font-size: 6rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

header h3 {
  text-transform: uppercase;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 2rem;
  /* border: 1px solid lime; */
  padding: 1%;
}

/*  Nav Bar */
nav {
  border: 3px solid purple;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a {
  font-size: 1.3rem;
  text-decoration: none;
  text-transform: lowercase;
  padding: 10px;
  border: 1px solid black;
  margin: 1% 0;
}

/* Welcome Section */
.welcome {
  border: 3px solid cyan;
  text-align: center;
  font-size: 1.8rem;
  margin: 1% 0;
}

/* About Section */
.personal {
  border: 3px solid fuchsia;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 1%;
  width: 60%;
  margin: 0 20%;
  margin-bottom: 1%;
}

.personal div {
  padding: 2%;
  font-size: 1.3rem;
  border: 1px solid black;
}

/* Image */
.image {
  border: 3px solid green;
}

.image img {
  width: 100%;
  height: auto;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 3px solid mediumvioletred;
  width: 60%;
  margin: 1% 20%;
  text-align: center;
  text-transform: uppercase;
}
